#contato {
    background: linear-gradient(#F6E0D5 600px, #F2F3F5 0px);
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;

}

.contato-dados, 
.contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
    border-radius: 5px 0 0 5px;
    background: #FFCC99;
}

.contato-formulario {
    border-radius: 0 5px 5px 0;
    background: #ffffff;
            }

.contato-dados h2 {
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    padding-left: 28px;
}

.contato-endereco p {
    margin-bottom: 8px;
}

.contato-meios a {
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
    padding-left: 28px;
}

.contatos-meios a:hover {
    color: #ffffff;
}

.contatos-meios a:nth-child(2) {
    margin-bottom: 32px;
}

.contato-redes {
    display: flex;
    gap: 32px;
    padding-left: 28px;
}

.mapa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    padding-top: 120px;
    padding-bottom: 120px;
} 

.mapa h2 {
    grid-column: 1/-1;
    margin-bottom: 60px;
}

.mapa img {
    border-radius: 4px 4px 0 0;
}

.mapa-item {
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.mapa-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
    padding: 32px;
}

.mapa-conteudo h3,
.mapa-conteudo p {
    grid-column:  1/-1;
}

.mapa-dados {
    display: grid;
    gap: 8px;
    border-left: 2px solid #F2F3F5;
    padding-left: 12px;
}