

.quemsomos {
  font: 400 1.5rem/1.5 'Poppins', sans-serif;
  color:#2E2312 ;
  padding-top: 80px;
  padding-bottom: 80px;
}

.quemsomos h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.quemsomos p {
    max-width: 75ch;
    margin-bottom: 24px;
}

.quemsomos p + h2 {
    margin-top: 40px;
}

.sobre-titulo {
color: #2E2312;
}

